@page "/insights"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Insights</PageTitle>

<MudPaper Class="d-flex align-center pa-5 ma-5" Outlined="true" Elevation="0">
    
    <MudText Typo="Typo.h4" Class="fw-bold">
        Learning Analytics
    </MudText>
    
    <MudSpacer/>
        
    <div class="d-flex gap-8 text-center">
        <div class="d-flex flex-column">
            <MudText Typo="Typo.caption" Style="opacity: 0.7;">Cards Due</MudText>
            <MudText Typo="Typo.h5" Color="Color.Error"><strong>11</strong></MudText>
        </div>
        
        <div class="d-flex flex-column">
            <MudText Typo="Typo.caption" Style="opacity: 0.7;">Mastered Cards</MudText>
            <MudText Typo="Typo.h5" Color="Color.Info"><strong>142</strong></MudText>
        </div>

        <div class="d-flex flex-column">
            <MudText Typo="Typo.caption" Style="opacity: 0.7;">Average Rate</MudText>
            <MudText Typo="Typo.h5" Color="Color.Info"><strong>88.5%</strong></MudText>
        </div>

        <div class="d-flex flex-column">
            <MudText Typo="Typo.caption" Style="opacity: 0.7;">Streak</MudText>
            <MudText Typo="Typo.h5" Color="Color.Info"><strong>12 Days</strong></MudText>
        </div>
    </div>
   
</MudPaper>


<MudPaper Class="d-flex align-center pa-4 ma-5" Outlined="true" Elevation="0">
    
    <MudContainer Class=" align-content-center align-center justify-center">
        <MudChart T="double" ChartType="ChartType.Donut" Width="100%" Height="300px"
                  LegendPosition="Position.Left" ChartLabels="@labels" ChartSeries="@([data])"/>
    </MudContainer>
    
    <MudContainer Class="align-content-center align-center justify-center">
        <MudText Typo="Typo.h4" Align="Align.Center">
            Upcoming WorkLoad Forecast
        </MudText>
        <MudChart ChartType="ChartType.StackedBar" ChartSeries="@Series"
                  ChartLabels="@XAxisLabels" Width="100%" Height="350px"/>
    </MudContainer>
    
    <MudContainer Class="align-content-center align-center justify-center">
        <MudChart ChartType="ChartType.Line" ChartSeries="@Series2" ChartLabels="@XAxisLabels2" Width="100%" Height="350px" CanHideSeries/>
    </MudContainer>
    
    
    
</MudPaper>

<MudPaper Class="d-flex align-center pa-4 ma-5" Outlined="true" Elevation="0">

    
</MudPaper>


@code
{
    public double[] data = { 50, 25, 20, 5 };
    public string[] labels = {"Mastered", "Reviewed", "Learning", "New"};   
    
    public List<ChartSeries<double>> Series = new List<ChartSeries<double>>()
    {
        new() { Name = "Mastered", Data = new double[] { 40, 20, 25, 27, 46, 46, 48 } },
        new() { Name = "Learning", Data = new double[] { 19, 24, 35, 13, 28, 15, 13 } },
        new() { Name = "New", Data = new double[] { 8, 6, 11, 13, 4, 16, 10 } },
    };
    public string[] XAxisLabels = { "Sun", "Mon", "Tue", "Wed", "Thu", "Frid", "Sat"};
    
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        RandomizeData();
    }

    public List<ChartSeries<double>> Series2 = new List<ChartSeries<double>>();
    public string[] XAxisLabels2 = {"Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep" };

    Random random = new Random();
    public void RandomizeData()
    {
        var newSeries = new List<ChartSeries<double>>();
        for (int s = 1; s <= 10; s++)
        {
            var series = new ChartSeries<double>() { Name = $"Deck {s}", Data = new double[9] };
            for (int i = 0; i < 9; i++)
                series.Data[i].Y = random.NextDouble() * 100;
            newSeries.Add(series);
        }
        Series2 = newSeries;
        StateHasChanged();
    }
}