<MudNavMenu Bordered="true" Margin="Margin.Dense" Color="Color.Primary" Class="pa-1 d-flex flex-column" Style="height: 100%;">
    <MudNavLink Class="d-flex justify-center align-center" Href="dashboard" Match="NavLinkMatch.Prefix"
                Icon="@Icons.Material.Rounded.Dashboard">Dashboard</MudNavLink>
    <MudNavLink Class="d-flex justify-center align-center" Href="decks" Match="NavLinkMatch.Prefix"
                Icon="@Icons.Material.Rounded.LibraryBooks">Decks</MudNavLink>
    <MudNavLink Class="d-flex justify-center align-center" Href="study" Match="NavLinkMatch.Prefix"
                Icon="@Icons.Material.Filled.StickyNote2">Study</MudNavLink>
    <MudNavLink Class="d-flex justify-center align-center" Href="insights" Match="NavLinkMatch.Prefix"
                Icon="@Icons.Material.Rounded.Insights">Insights</MudNavLink>

    <div class="mt-auto">
        <MudNavLink Class="d-flex justify-center align-center" Href="settings" Match="NavLinkMatch.Prefix"
                    Icon="@Icons.Material.Rounded.Settings">Settings</MudNavLink>
        <MudNavLink Class="d-flex justify-center align-center" Href="user" Match="NavLinkMatch.Prefix"
                    Icon="@Icons.Material.Rounded.AccountCircle">User</MudNavLink>
    </div>
</MudNavMenu>